html,body,a,p {
    padding: 0;
    margin:  0;
    overflow-wrap: break-word;
    font-family: 'Noto Sans JP', sans-serif;
    -webkit-font-smoothing: antialiased;
}

ul, li, a, span {
    padding: 0;
    margin: 0;
}