/* ヘッダー */
.header {
    width: 100%;
    margin-bottom: 70px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background: #FFFFFF;
}

.header-logo {
    width: 100%;
    position: relative;
}

.header-logo  a {
    text-decoration: none;
}

.header-logo .icon-nri-logo {
    position: absolute;
    top: 3px;
    left: 55px;
    font-size: 56px;
    color: #005BAC;
}

.header-right {
    float: right;
}

.right-menu {
    display: flex;
}

.header-right a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #005BAC;
    height: 60px;
    width: 60px;
    position: relative;
}

.header-right a:hover {
    color: #666;
    opacity: 0.5;
}

.header-right .right-menu .header-search {
    font-size: 26px;
}

.header-right .right-menu .header-global {
    font-size: 26px;
}

.header-hamburger {
    margin-left: 25px;
}

.header-hamburger img {
    clear: both;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    width: 60px;
    color: #005BAC;
}

.header-hamburger a:hover {
    opacity: 1;
}

/* パンくずナビ */
.pageBody {
    margin-bottom: 120px;
}

.pageBody .pageNavi {
    margin: 130px 0 25px 140px;
}

.pageBody .pageNavi ul {
    display: flex;
    flex-wrap: wrap;
}

.pageBody .pageNavi ul li {
    list-style: none;
    font-size: 12px;
    color: #999;
}

.pageBody .pageNavi a {
    text-decoration: none;
    color: #999;
}

.pageBody .pageNavi .icon-cheveron-right:before {
    display: inline-block;
    content: "\e90d";
    vertical-align: middle;
    font-size: 15px;
    color: #231815;
    -webkit-text-stroke: #ffffff 1px;
  }

/* トップイメージ */
.pageBody .nri-image {
    position: relative;
    margin-bottom: 35px;
}

.pageBody .top-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.imageTitle p {
    position: absolute;
    top: 20px;
    left: 140px;
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 400;
}

.imageTitle h1 {
    position: absolute;
    top: 67px;
    left: 140px;
    font-size: 28px;
    line-height: 42px;
    color: #ffffff;
}

/* snsShare */
.pageBody {
    width: 100%;
}

.pageBody .sns-share {
    display: flex;
    justify-content: flex-end;
    width: 820px;
    margin: 0 auto;
    margin-bottom: 30px;
    align-items: center;
}

.pageBody .sns-share .share {
    font-family: Arial;
    font-weight: 700;
    font-size: 10px;
    color: #666;
}
.pageBody .sns-share .btn-sns {
    margin-left: 23px;
}


.pageBody .sns-share a {
    text-decoration: none;
    display: inline-block;
    width: 25px;
}

.pageBody .sns-share .icon-facebook {
    font-size: 25px;
}


.pageBody .sns-share .icon-twitter {
    font-size: 25px;
    
}

.pageBody .sns-share .icon-linkedin {
    font-size: 25px;
    
}


/* NRIのビジネス戦略 */
.nri-bussiness {
    width: 820px;
    margin: 0 auto;
}

.nri-bussiness .nri-contents {
    width: 100%;
    margin: 0 auto;
}
    
.nri-bussiness .nri-contents .title-item {
    float: left;
    width: 23px;
    height: 23px;
    margin-top: 6px;
    margin-right: 15px;
}

.nri-bussiness .nri-contents h2 {
    font-size: 22px;
    line-height: 33px;
}

.nri-bussiness .nri-contents h2 .sub-title {
    vertical-align: top;
}

.nri-bussiness .nri-contents .bussiness-content {
    clear: both;
    margin-bottom: 60px;
}

.nri-bussiness .nri-contents .bussiness-content p {
    font-size: 16px;
    line-height: 33px;
    color: #333;
}

.nri-bussiness .nri-contents .bussiness-content .first-content {
    width: 810px;
    margin-bottom: 16px;
}

.nri-bussiness .nri-contents .bussiness-content .second-content {
    width: 810px;
}

.nri-bussiness .nri-contents img {
    height: auto;
    width: 100%;
    margin-bottom: 33px;
}

.nri-bussiness .btn-blue {
   text-align: center;
}

.nri-bussiness .btn-blue a {
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    margin-bottom: 80px;
    background-color: #005bac;
    border: 1px solid #005bac;
    line-height: 1.2;
    display: inline-block;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
}

.nri-bussiness .btn-blue a:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.nri-bussiness .btn-blue a .icon-cheveron-right:before {
    display: inline-block;
    position: absolute;
    top: 29px;
    left: 5px;
    content: "\e90d";
    vertical-align: middle;
    font-size: 15px;
    color: #FFFFFF;
    -webkit-text-stroke: #005bac 1px;
}

.nri-bussiness .btn-blue img {
    height: 25px;
    width: 30px;
}

.nri-bussiness img {
    vertical-align: middle;
    line-height: 1.2;
}

/* DXの取り組み事例 */
.nri-contents {
    width: 1000px;
}

.nri-contents .jornal-image {
    width: 820px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.nri-contents .jornal-image .active-case {
    width: 185px;
    margin-right: 20px;
    margin-bottom: 25px;
    position: relative;
}

.nri-contents .jornal-image .active-case .image-box {
    width: 100%;
    padding-bottom: 0;
}

.nri-contents .jornal-image .active-case .image-box .image-title {
    width: 180px;
    font-size: 12px;
    line-height: 18px;
    padding: 3px 0 3px 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
}


.nri-contents .jornal-image .active-case .image-box span{
    background-color: #005BAC;
    color: #FFFFFF;
    font-weight: 500;
}

.nri-contents .jornal-image .active-case a figure {
    display: table-cell;
    width: 200px;
    height: 200px;
}

.nri-contents .jornal-image .active-case a img {
    margin-bottom: 0;
}

.nri-contents .jornal-image .active-case .image-contents {
    padding: 10px 0;
}

.nri-contents .jornal-image .active-case .image-contents a {
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    color: #333333;
}

.nri-contents .jornal-image .active-case .btn-category a {
    display: inline-flex;
    font-size: 12px;
    line-height: 1.4;
    border: 1px solid #CCCCCC;
    text-decoration: none;
    color: #333333;
    height: auto;
    padding: 6px 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.nri-contents .jornal-image .active-case a:hover {
    text-decoration: underline;
}

.nri-contents .jornal-image .active-case .time {
    color: #666666;
    font-size: 14px;
}

/* derection */
.nri-bussiness {
    width: 820px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.nri-bussiness .derection {
    width: 100%;
}

.nri-bussiness .arrow-left {
    float: left;
    margin: 20px 0;
}

.nri-bussiness .arrow-right {
    float: right;
    margin: 20px 0;
}

.nri-bussiness .derection a {
    color: #0c419a;
    text-decoration: none;
}

.nri-bussiness .derection a:hover {
    text-decoration: underline;
}

/* NRIの強み */
.nri-bussiness .nri-strength {
    clear: both;
    width: 820px;
    margin: 0 auto;
    margin-top: 80px;
    padding-bottom: 35px;
    background-color: #DEECF8;
}

.nri-bussiness .nri-strength .list-title {
    font-size: 16px;
    color: #333333;
    line-height: 30px;
    padding: 30px 0 0 30px;
}

.nri-bussiness .nri-strength .box-first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nri-bussiness .nri-strength .box-first p a {
    width: 195px;
    height: 40px;
    align-items: center;
    padding: 15px 20px;
    margin: 0px 10px;
    line-height: 1.2;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    display: inline-flex;
    text-decoration: none;
    font-size: 16px;
    word-break: normal;
    color: #0c419a;
    vertical-align: middle;
    justify-content: center;
    position: relative;
}

.nri-bussiness .nri-strength .box-first a:hover {
    background: #f4f4f4;
    transition: 0.3s;
}

.nri-bussiness .nri-strength .box-first a .icon-cheveron-right:before {
    display: inline-block;
    position: absolute;
    top: 29px;
    left: 5px;
    content: "\e90d";
    vertical-align: middle;
    font-size: 15px;
    color: #231815;
    -webkit-text-stroke: #ffffff 1px;
  }

.nri-bussiness .nri-strength .box-first p {
    text-align: center;
}


.nri-bussiness .nri-strength .box-second {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nri-bussiness .nri-strength .box-second a {
    width: 195px;
    height: 20px;
    align-items: center;
    padding: 15px 20px;
    margin: -10px 10px 10px 10px;
    line-height: 1.2;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    display: inline-flex;
    text-decoration: none;
    font-size: 16px;
    word-break: normal;
    color: #0c419a;
    vertical-align: middle;
    position: relative;
    justify-content: center;
}

.nri-bussiness .nri-strength .box-second a:hover {
    background: #f4f4f4;
    transition: 0.3s;
}

.nri-bussiness .nri-strength .box-second a .icon-cheveron-right:before {
    display: inline-block;
    position: absolute;
    top: 19px;
    left: 5px;
    content: "\e90d";
    vertical-align: middle;
    font-size: 15px;
    color: #231815;
    -webkit-text-stroke: #ffffff 1px;
  }

.nri-bussiness .nri-strength .box-second a p {
    text-align: center;
}

.pageBody .nri-bussiness .sns-share {
    margin-top: 65px;
}

/* 企業情報 */
.body-bottom {
    width: 1000px;
    margin: 0 auto 60px auto;
    margin-bottom: 50px;
}

.body-bottom .company-info {
    width: 100%;
}

.body-bottom .company-info h2 {
    font-size: 20px;
    line-height: 38px;
    color: #333333;
    border-top: 2px solid #333;
    border-bottom: 1px dotted #999;
    padding: 30px 0;
}

.body-bottom .company-info .section-index {
    padding: 10px 0;
    border-bottom: 1px dotted #999;
}

.body-bottom .company-info h3 {
    font-size: 16px;
    line-height: 30px;
    color: #333333;
}

.body-bottom .company-info ul {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.body-bottom .company-info ul li {
    list-style: none;
    width: 250px;
    position: relative;
    height: 40px;
}

.body-bottom .company-info ul li a {
    display: inline-block;
    text-decoration: none;
    color: #0c419a;
    font-size: 14px;
    width: 250px;
    margin: 0 10px 10px 0;
    padding-left: 15px;
}

.body-bottom .company-info ul li a .icon-cheveron-right:before {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: -5px;
    content: "\e90d";
    font-size: 15px;
    color: #231815;
    -webkit-text-stroke: #ffffff 1px;
}

.body-bottom .company-info ul li a:hover {
    text-decoration: underline;
}

.body-bottom .company-info .section-previous {
    margin-top: 30px;
}

.body-bottom .company-info .section-previous ul li a .icon-cheveron-left:before {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: -5px;
    content: "\e90e";
    font-size: 15px;
    color: #231815;
    -webkit-text-stroke: #ffffff 1px;
}

/* snsアイコン大 */
.follow-us {
    width: 100%;
    padding: 40px 0;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
}

.follow-us .sns-share {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.follow-us .sns-share .share {
    font-size: 20px;
    font-weight: 700;
    color: #005bac;
    display: flex;
}

.follow-us .sns-share .btn-sns {
    margin-left: 40px;
}

.follow-us .sns-share a {
    text-decoration: none;
    width: 40px;
}

.follow-us .sns-share .icon-facebook {
    font-size: 28px;
}

.follow-us .sns-share .icon-twitter {
    font-size: 28px;
}

.follow-us .sns-share .icon-linkedin {
    font-size: 28px;
}

/* フッター */
.footer {
    width: 1000px;
    margin: 40px auto;
}

.footer .footer-index {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer .footer-index .section-index {
    box-sizing: border-box;
    width: 250px;
    padding: 0 10px;
}

.footer .footer-index .section-index:first-child {
    padding-left: 0;
}

.footer .footer-index .section-index:last-child {
    padding-right: 0;
}

.footer .footer-index .section-index h3 {
    box-sizing: border-box;
    font-size: 16px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.footer .footer-index .section-index h3 a {
    display: inline-block;
    width: 100%;
    padding: 15px 0 15px 15px;
    color: #666;
    text-decoration: none;
    position: relative;
}

.footer .footer-index .section-index h3 a .icon-cheveron-right:before {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: -5px;
    content: "\e90d";
    font-size: 15px;
    color: #231815;
    -webkit-text-stroke: #ffffff 1px;
}

.footer .footer-index .section-index h3 a:hover {
    text-decoration: underline;
}

.footer .footer-index .section-index ul {
    width: 100%;
    padding: 0;
}

.footer .footer-index .section-index ul li {
    list-style: none;
    font-size: 14px;
    padding: 10px 0;
}

.footer .footer-index .section-index ul li a {
    display: inline-block;
    color: #666;
    text-decoration: none;
    width: 100%;
    padding-left: 15px;
    position: relative;
}

.footer .footer-index .section-index ul li a .icon-cheveron-right:before {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: -5px;
    content: "\e90d";
    font-size: 15px;
    color: #231815;
    -webkit-text-stroke: #ffffff 1px;
}

.footer .footer-index .section-index ul li a:hover {
    text-decoration: underline;   
}

.footer .globalNavi {
    width: 1000px;
    margin: 40px auto 0 auto;
}

.footer .globalNavi ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    padding-left: 0;
}

.footer .globalNavi ul li {
    list-style: none;
    line-height: 12px;
    border-left: 1px solid #999;
    padding: 0 15px;
}

.footer .globalNavi ul li:first-child {
    border-left: none;
    padding-left: 0;
}

.footer .globalNavi ul li:last-child {
    padding-right: 0;
}

.footer .globalNavi ul li a {
    font-size: 12px;
    color: #999;
    text-decoration: none;
}

.footer .globalNavi ul li a:hover {
    text-decoration: underline;
}

.footer .copy-right p{
    font-size: 10px;
    color: #333;
    font-family: Helvetica;
}