@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2399kz');
  src:  url('fonts/icomoon.eot?2399kz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2399kz') format('truetype'),
    url('fonts/icomoon.woff?2399kz') format('woff'),
    url('fonts/icomoon.svg?2399kz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mono_linkedin:before {
  content: "\e900";
}
.icon-mono_twitter:before {
  content: "\e901";
}
.icon-share:before {
  content: "\e902";
}
.icon-mono_facebook:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-global:before {
  content: "\e906";
}
.icon-twitter:before {
  content: "\e907";
  color: #1da1f2;
}
.icon-linkedin .path1:before {
  content: "\e908";
  color: rgb(0, 115, 178);
}
.icon-linkedin .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-facebook .path1:before {
  content: "\e90a";
  color: rgb(60, 90, 153);
}
.icon-facebook .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-nri-logo:before {
  content: "\e90c";
}
.icon-hamburger:before {
  content: "\e905";
}
.icon-cheveron-left:before {
  content: "\e90e";
}
.icon-cheveron-right:before {
  content: "\e90d";
}
